<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="{{ "/" }}">{{ site.title | default: site.github.repository_name }}</a></h1>

            {% if site.logo %}
            <a href="/cv"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
            {% endif %}

            <p>{{ site.description | default: site.github.project_tagline }}</p>

            {% if site.github.is_project_page %}
            <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
            {% endif %}

            {% if site.github.is_user_page %}
            <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
            <p class="view"><a href="{{ site.github.linkedin_url }}">View My LinkedIn Profile</a></p>
            {% endif %}

            <ul>
                <li><a href="/cv">CV</a></li>
                <li><a href="{{ site.linkedin_url }}" target="_blank">LinkedIn Profile</a></li>
                <li><a href="{{ site.github.owner_url }}" target="_blank">GitHub Profile</a></li>
                <li><a href="{{ site.mjc_url }}" target="_blank">MJC.si</a></li>
                <li><a href="{{ site.beekn_url }}" target="_blank">Beekn</a></li>
                <li><a href="{{ site.qatoolkit_url }}" target="_blank">QAToolKit</a></li>
            </ul>

            <p>
                My name is Miha and I've been tinkering with computers for some time now. I remember getting Pentium 100 in the late '90s and that's how it all started.
            </p>

            <p>Specialities:</p>
            <ul>
                <li>Azure cloud development</li>
                <li>Devops services and expertise</li>
                <li>Back-end application development</li>
                <li>Enhancing team culture and communication</li>
            </ul>

            <ul class="badges">
                <li>
                    <a href="https://www.youracclaim.com/badges/671077ef-4b52-4b5c-ba5a-8bed04819678" target="_blank">
                        <img src="https://mihaj.github.io/images/devops.png" alt="DevOps Engineer" />
                    </a>
                </li>
                <li>
                    <a href="https://www.youracclaim.com/badges/46cb2f06-64f1-4784-b321-2dd3c092d2b8" target="_blank">
                        <img src="https://mihaj.github.io/images/MCSD-AppBuilder.png" alt="MCSD" />
                    </a>
                </li>
                <li>
                    <a href="https://bcert.me/bc/html/show-badge.html?b=hoeuvmlh" target="_blank">
                        <img src="https://mihaj.github.io/images/csm.png" alt="Scrum Master" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mihajakovac/details/education/" target="_blank">
                        <img src="https://mihaj.github.io/images/ie.jpeg" alt="IE University - Chief technology officer program" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mihajakovac/details/education/" target="_blank">
                        <img src="https://mihaj.github.io/images/altmba.jpeg" alt="AltMBA" />
                    </a>
                </li>
            </ul>
        </header>
        <section>

            {{ content }}

        </section>
        <footer>
            {% if site.github.is_project_page %}
            <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3740644-12"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-3740644-12');
    </script>
    {% endif %}
</body>
</html>
